.content
  label for="date"
    ' Enter a date
  input#date
  input#anotherdate

coffee:
  pickerOpts =
    appendText: "mm/dd/yy"
    defaultDate: "+5"
    showOtherMonths: true
    maxDate: "+8"
    altField: '#anotherdate'
    showButtonPanel: true
    showAnim: ''

  pi = $("#date").datepicker(pickerOpts)
  pi.datepicker("show")
