script src='/javascripts/custom/tunes.js'

|<script type="text/template" id="album-template">
|  <span class="album-title"> <%= title  %></span>
|  by
|  <span class="album-name">  <%= artist %></span>
|  <ol class="tracks">
|    <% _.each(tracks, function(track) { %>
|      <li><%= track.title %></li>
|    <% }); %>
|  </ol>
|</script>

|<script type="text/template" id="library-template">
|  <h1>Music Library</h1>
|  <ul class="albums"></ul>
|</script>

div#container
