<script type="text/x-handlebars">
  <h1 style="text-align: center">Let's write some EmberJS!</h1>

  <h2>Where Is This Text?</h2>
  <p>Hi, I'm your template file, find me in views/templates/application.handlebars</p>
  <p>Since I'm a handlebars template that does not have a <span style="font-family:monospace">data-template-name</span> I just show up, like HTML.  Other templates, used for Ember views will not show up.  Check out this file to see what I mean!</p>

  <h2>Where should template code for other views go?</h2>
  <p>While you're getting started, put it in the same file!  There's already an example template in there called <span style="font-family:monospace">non-existant-view</span>.

  <h2>Where should my Ember classes go?</h2>
  <p>While you're getting started, put it <span style="font-family:monospace">javascripts/custom/application.js</span>.  That file will start to feel a bit cramped after a while, but once you have the hang of Ember it won't seem strange to handle packaging on your own.</p>

  <h2>I heard Ember was hard to get started with, this seems too easy</h2>
  <p>I don't know who told you that but including 3 javascript files and writing some script tags is not hard in my opinion.</p>

  <h2>Am I really running the latest Ember ecosystem?</h2>
  <p>Check out the browser debug console.  Ember spits those data out when it starts up.</p>
</script>

<script type="text/x-handlebars" data-template-name="non-existant-view">
  <p>Hi i'm a template that won't show up &mdash; unless you create an Ember View that uses me!</p>
</script>
