<script type="text/x-handlebars">
  <h1>Let's Build an Ember Application</h1>

  {{#view App.ExampleView}}
    This is an inline ExampleView, it has a word which is {{view.aWord}}.
  {{/view}}

  {{view  templateName="advice" adjective="good"}}

</script>
